<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="elec5620.sydney.edu.au.smarthealth">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="SmartHealth"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MainActivity">
        <activity
            android:name=".TaskEditActivity"
            android:exported="true" />
        <activity
            android:name=".ChatBotActivity"
            android:exported="true" />
        <activity
            android:name=".PatientSignUpActivity"
            android:exported="true" />
        <activity
            android:name=".PatientSignInActivity"
            android:exported="true" />
        <activity
            android:name=".ViewDoctorRecommendActivity"
            android:exported="true" />
        <activity
            android:name=".PatientMainActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorSignUpActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorSignInActivity"
            android:exported="true" />
        <activity
            android:name=".DoctorMainActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity android:name=".DoctorTipsActivity"
            android:exported="true" ></activity>
        <activity android:name=".DoctorViewActivity"
            android:exported="true" ></activity>

    </application>

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>